[Unit]
Description=Wakeup
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/wakeup/
ExecStart=python server.py
Restart=always

[Install]
WantedBy=multi-user.target